.em-desenvolvimento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
  color: #999;

  mat-icon {
    font-size: 80px;
    width: 80px;
    height: 80px;
    color: #ddd;
    margin-bottom: 16px;
  }

  h2 {
    margin: 0 0 8px 0;
    color: #666;
  }

  p {
    margin: 0;
    color: #999;
  }
}
